################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompressModuel/bin/Debug
/.vs/CompressModuel/v15/Server/sqlite3
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/CompressModuel.Contracts/obj/Debug
/CompressModuel.Contracts/bin/Debug
/packages
/CompressModuel/obj
